Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  concurrency-*,
  cppcoreguidelines-*,
  misc-*,
  -misc-non-private-member-variables-in-classes,
  performance-*,
  portability-*,
  readability-*,
  -bugprone-easily-swappable-parameters,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-braces-around-statements,
  -readability-identifier-length,
  -readability-function-cognitive-complexity,
  -readability-magic-numbers,
HeaderFilterRegex: '^(include|src|tests|examples)/'
FormatStyle: file
CheckOptions:
  - key: readability-identifier-naming.IgnoredRegexp
    value: '^[A-Z0-9_]+$'
  - key: modernize-use-trailing-return-type.IgnoreMacros
    value: '1'
