Checks: >
  -*,
  clang-diagnostic-unused-*,
  bugprone-*,
  clang-analyzer-*,
  concurrency-*,
  cppcoreguidelines-*,
  misc-*,
  -misc-non-private-member-variables-in-classes,
  performance-*,
  portability-*,
  readability-*,
  readability-unused-*,
  -bugprone-easily-swappable-parameters,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-braces-around-statements,
  -readability-identifier-length,
  -readability-function-cognitive-complexity,
  -readability-magic-numbers,
HeaderFilterRegex: '^(include|src|tests|examples)/'
ExcludeHeaderFilterRegex: '.*(third_party|cmake-build-|.pixi|.venv|.git|-bld|-BLD).*'
FormatStyle: file
