**/CMakeCache.txt
**/CMakeFiles
**/*.cmake
**/Makefile
**/build
**build-release
**/bin
**/load_trx
**/tests/memmap
libtrx.a
tests/data
.vscode
.cache
test_package/build/
test_package/CMakeUserPresets.json
syntax.log
docs/_build/
docs/api/
.DS_Store
test_package/build
test_package/CMakeUserPresets.json
test-data/*
bench/results*
**build-tests
*.jsonl
