**/CMakeCache.txt
**/CMakeFiles
**/*.cmake
**/Makefile
**/build
**/bin
**/load_trx
**/tests/memmap
libtrx.a
tests/data
.vscode
.cache
test_package/build/
test_package/CMakeUserPresets.json
syntax.log
docs/_build/
docs/api/

test_package/build
test_package/CMakeUserPresets.json