**/CMakeCache.txt
**/CMakeFiles
**/*.cmake
**/Makefile
**/build
**/bin
**/load_trx
**/tests/memmap
libtrx.a
tests/data
.vscode
test_package/build/
test_package/CMakeUserPresets.json

docs/_build
docs/_build/doxygen/

test_package/build
test_package/CMakeUserPresets.json
.DS_Store