name: clang-tidy-review

on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y \
          cmake \
          g++ \
          libeigen3-dev \
          libzip-dev \
          zlib1g-dev \
          ninja-build

    - name: Run CMake
      run: cmake . -DCMAKE_EXPORT_COMPILE_COMMANDS=ON

    - uses: ZedThree/clang-tidy-review@v0.21.0
      id: review
      with:
        apt_packages: g++,libzip-dev,zlib1g-dev,ninja-build
        config_file: .clang-tidy
        clang_tidy_version: 17

    - uses: ZedThree/clang-tidy-review/upload@v0.21.0
      id: upload-review
